@model IEnumerable<AdressBook.Models.Adress>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Adresstype)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.Person)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Adresstype)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Person.PersonID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.AdressID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.AdressID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.AdressID">Delete</a> |
                <a asp-action="Adress" asp-route-id="@item.AdressID">Adress</a>

            </td>
        </tr>
}
    </tbody>
</table>
